/* Reset  */
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
/* Fine reset  */

/* Dummy Proprieties */
.in_bl{
    display: inline-block;
}

.arial_bold{
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
    font-weight: bold;
}

.bgc_blue{
    background-color: rgb(69,171,234);
}

.bgc_purple{
    background-color: rgb(156,114,228);
}

.bgc_green{
    background-color: rgb(100,192,169);
}

.bgc_orange{
    background-color: rgb(242,	158	,51	);
}

.bgc_pink{
    background-color: rgb(216,	99	,161	);
}

.bgc_lime{
    background-color: rgb(176,	201	,38	);
}

/* Tags */
body{
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    background-color: rgb(246,248,249);
}

header{
    background-color: white;
    width: 100%;
    padding: 1rem 1.5rem;
}

header *{
    vertical-align: -webkit-baseline-middle;
}

header>h1{
    font-size: 2.5rem;
    padding-left: 0.5rem;
}


main{
    width: 60%;
    margin: 3rem auto;
    background-color: white;
}

section{
    padding-left: 2.5rem;
}

/* Ids */
#b_task{
    margin: 1rem 0.5rem 1rem 0;
    color: white;
}

#b_section{
    color: rgb(214,218,222);
    border: 1px solid rgb(214,218,222);
}

#tool_bar{
    border-bottom: 2px solid rgb(246,248,249);
}

/* Classes */
.button{
    border-radius: 5px;
    font-size: 0.6rem;
    padding: 0.5rem;
}

.list{
    padding: 2.5rem 0 0 0;
}

.list>h2{
    font-size: 1.5rem;
}

.list>div{
    padding-top: 0.6rem;
}

.list *{
    vertical-align: middle;
}

.tag{
    color: white;
    font-size: 0.4rem;
    padding: 0.6rem;
    border-radius: 20px;
}
